<?xml version="1.0"?>
<settings>
  <servers>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>238a942315a142a298334007f4ddce7c</username>
      <password>238a942315a142a298334007f4ddce7c~?~0a9fBcaE85134b8ebE80A19137200348</password>
    </server>

    <server>
      <id>repository-mule</id>
      <username>df57f299b67240f4a1414ab5f14b0cc3</username>
      <password>df57f299b67240f4a1414ab5f14b0cc3~?~0B6Ece4412fd40459d75f72a7cd527C8</password>
    </server>
  </servers>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <profiles>
    <profile>
      <id>mule-extra-repos</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>mule-public</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>repository-mule</id>
          <name>repository-mule</name>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>

         <repository>
          <id>MuleRepositoryPublic</id>
          <name>MuleRepositoryPublic</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>         
      </repositories>

    </profile>
  </profiles>
</settings>